<% if iclone.user.id == current_user.id %>
<div class = "container">
  <div class = "card auth-card">
    <%= form_with(model: @iclone, local: true, url: choose_new_or_edit ) do |form| %>
    <% if @iclone.errors.any? %>
    <div class="alert alert-warning">
      <ul>
        <% @iclone.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="content">
      <%= form.label :content %>
      <%= form.text_field :content %>
    </div>
    <div class="field">
      <%= form.label :image %>
      <%= image_tag(@iclone.image.url) if @iclone.image && @iclone.image.url %>
      <%= form.file_field :image %>
      <%= form.hidden_field :image_cache %>
    </div>
    <%= form.submit %>
    <% end %>
  </div>
</div>
<%= link_to '一覧へ', iclones_path %>
<% end %>
