<h3>以下の内容で、投稿する。</h3>
<%= form_with(model: @iclone, local: true) do |form| %>

<%= form.hidden_field :content %>
<p>本文:<%= @iclone.content %></p>

<%= image_tag(@iclone.image.url) if @iclone.image && @iclone.image.url %>
<%= form.hidden_field :image_cache %><br>

<%= form.submit  "登録する" %><br></br>
<%= form.submit "戻る", name: 'back' %>
<% end %>
