<h1>Iclones#index</h1>


  <% @iclones.each do |iclone| %>
  <div class="container-fluid">

    <%= iclone.content %>
    <%= iclone.user.name %>
    <%= link_to '詳細を確認する', iclone_path(iclone.id) %>
    <%= link_to "ブログを編集する", edit_iclone_path(iclone.id) %>
    <%= link_to 'ブログを削除する', iclone_path(iclone.id), method: :delete, data: { confirm: '本当に削除していいですか？' }  %>
  </div>
  <% end %>

<%= link_to '新規作成', new_iclone_path %>
