<h2><%= @user.name %>のページ</h2>
<% if @user.image.present? %>
<p><strong>Image:</strong>
  <%= image_tag @user.image.url %></p>
  <% end %>
  <p>メールアドレス: <%= @user.email %></p>
  <p><%= link_to '編集', edit_user_path(@user) %></p>
  <% if logged_in? %>
  <p><%= link_to 'お気に入りへ', favorite_path %></p>
  <p><%= link_to '新規投稿', new_iclone_path %></p>
  <% end %>
